<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div align="left">
    <h1>New User</h1>
    <form method="POST"
          th:action="@{/admin/newuser}"
          th:object="${user}">
        Name    :
        <br/>
        <input type="text" th:field="*{name}"/>
        <br/>
        <br/>
        Age     :
        <br/>
        <input type="number" th:field="*{age}" />
        <br/>
        <br/>
        Street  :
        <br/>
        <input type="text" th:field="*{street}" />
        <br/>
        <br/>
        password:
        <br/>
        <input type="password" th:field="*{password}" />
        <br/>
        <br/>
        Role:
        <br/>
        <select th:field = "*{roles}">
            <option th:value="'ADMIN'" th:text="ADMIN"></option>
            <option th:value="'USER'" th:text="USER"></option>
        </select>
        <br/>
        <br/>
        <input type="submit" value="Create" />
    </form>
</div>
</body>
</html>
