<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Users</title>
    <style>
        table, th, td {
            border: 1px solid #000000;
        }
        #add {
            position: absolute;
            right: 900px;
            top: -10px;
        }

    </style>
</head>
<body>
<h1>Users:</h1>
<table >
    <tr>
        <th width="80">Id</th>
        <th width="120">Name</th>
        <th width="120">Street</th>
        <th width="100">Age</th>
        <th width="55"></th>
        <th width="50"></th>
    </tr>
        <tr th:each ="user : ${users}">
            <td th:utext = "${user.id}"</td>
            <td th:utext = "${user.name}"</td>
            <td th:utext = "${user.street}"</td>
            <td th:utext = "${user.age}"</td>
            <td align="2px"><form th:action="@{/admin/edit/{id}(id=${user.id})}" method="GET"><input type="submit" value="UPDATE" /></form></td>
            <td align="2px"><form th:action="@{/admin/delete/{id}(id=${user.id})}" method="get"><input type="submit" value="DELETE" /></form></td>
        </tr>

    </c:forEach>
</table>
<a href="/logout">Log out</a>
<div id="add">
    <h1>Add User</h1>
    <form th:action="@{/admin/newuser}"
          method="GET">
        <input type="submit" value="Add ">
    </form>
</div>
</body>
</html>

