<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<body>
<div align="center">
    <h1>Edit User</h1>
    <form:form action="edit" method="post" modelAttribute="userr">
        <table>
            <td><form  path="id" /></td>
            <tr>
                <td>Age:</td>
                <td><form:input path="age" /></td>
            </tr>
            <tr>
                <td>Street:</td>
                <td><form:input path ="street" /></td>
            </tr>
            <tr>
                <td>Role:</td>
                <td><form:input path ="role" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Edit"></td>
            </tr>
        </table>
    </form:form>
</div>
</body>
</html>