<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Edit user</title></head>
<body>
<div  class="container" align="left" >
    <form method="POST"
          th:action="@{/admin/edit}"
          th:object="${user}">
        UPDATE USER WITH ID :
        <br/>
        <tr>
        <td th:utext = "${user.id}"</td>
        </tr>
        <br/>
        <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
        Name    :
        <br/>
        <input type="text" th:field="*{name}" th:value="${user.name}"/>
        <br/>
        <br/>
        Age     :
        <br/>
        <input type="number" th:field="*{age}" th:value="${user.age}" />
        <br/>
        <br/>
        Street  :
        <br/>
        <input type="text" th:field="*{street}" th:value="${user.street}"/>
        <br/>
        <br/>
        password:
        <br/>
        <input type="password" th:field="*{password}"/>
        <br/>
        <br/>
        Role:
        <br/>
        <select th:field = "*{roles}">
            <option th:value="'ADMIN'" th:text="ADMIN"></option>
            <option th:value="'USER'" th:text="USER"></option>
        </select>
        <br/>
        <br/>
        <input type="submit" value="UPDATE">
    </form>
    <a href="/logout">logout</a>
</div>
</body>
</html>